@charset "UTF-8";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font-family: "Lora", Helvetica, "open-serif", sans-serif;
  font-size: small;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

a {
  color: inherit; }

a:hover {
  color: inherit; }

a:visited {
  color: inherit; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site, .subpage {
  text-align: left;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  text-decoration: none; }

.title {
  display: inline-block; }

.meta {
  color: #aaa; }

.footer {
  overflow: hidden;
  color: #fff;
  font-family: Open-Sans, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 100; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  font-weight: bold; }

/* Keyword */
.highlight .o {
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

/* Generic.Deleted.Specific */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

/* Generic.Inserted.Specific */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kp {
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d14; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d14; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d14; }

/* Literal.String.Char */
.highlight .sd {
  color: #d14; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d14; }

/* Literal.String.Double */
.highlight .se {
  color: #d14; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d14; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d14; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d14; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d14; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
/*****************************************************************************/
/*
/* Mixins and Variables
/*
/*****************************************************************************/
body {
  background: white; }

/*****************************************************************************/
/*
/* Entire Site
/*
/*****************************************************************************/
.site, .subpage {
  width: 100%;
  margin: 0;
  overflow-x: hidden; }

.container {
  max-width: 940px;
  margin: auto;
  padding: 0 10px; }
  @media (max-width: 480px) {
    .container {
      max-width: 460px; } }

.one-third {
  width: 32%;
  padding: .66% 0; }

.half {
  padding: 0 10px;
  max-width: 450px; }

.split {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.row {
  padding-bottom: 40px; }
  .row p {
    display: inline-block; }

.card, .gateway, .view-services {
  border-radius: 2px;
  display: inline-block;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/*****************************************************************************/
/*
/* Hero Backgrounds
/*
/*****************************************************************************/
.Chairvolotti_Financial_Retirement_Homepage {
  background-image: url("../images/homebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 629px;
  margin-top: -4px; }
  .Chairvolotti_Financial_Retirement_Homepage .container {
    width: 100%;
    margin-left: 60px; }
    @media (max-width: 480px) {
      .Chairvolotti_Financial_Retirement_Homepage .container {
        margin-left: 10px; } }

.subpage-header {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5DFE5', endColorstr='#FFFFFF' ,GradientType=0)";
  background: linear-gradient(180deg, #d5dfe5 0%, white 99.51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5DFE5',endColorstr='#FFFFFF' , GradientType=0);
  height: 400px;
  margin-bottom: -150px;
  margin-top: -4px; }

/*****************************************************************************/
/*
/* Header section
/*
/*****************************************************************************/
.header .topnav {
  background-color: #312A22;
  height: 30px;
  font-size: 13px;
  color: #aba9a9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  @media (max-width: 480px) {
    .header .topnav .logo img {
      max-width: 100px;
      margin-top: 45px; } }
  @media (max-width: 480px) {
    .header .topnav .logo p {
      display: none; } }
  .header .topnav .bar .social a {
    color: #aba9a9; }
  @media (max-width: 480px) {
    .header .topnav .bar .social {
      display: none; } }
  .header .topnav .bar .contact a {
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #aba9a9; }
  .header .topnav .bar .contact p {
    font-family: "Helvetica", "Arial", sans-serif; }

.header .bar {
  position: absolute;
  right: 0px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 15px;
  margin-left: auto;
  padding-top: 5px;
  z-index: 100; }

.header .logo {
  position: absolute;
  float: left;
  margin: 15px; }
  .header .logo p {
    margin-top: 4px;
    color: #333333;
    opacity: .5;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px; }

.header .fa {
  font-size: 15px;
  margin: 0 5px; }

.header .contact {
  margin-right: 15px;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .header .contact p {
    margin: 0; }

.header .social {
  margin-right: 50px; }

.header .nav {
  font-size: 15px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  right: 0px;
  position: absolute;
  font-family: "Helvetica", "Arial", sans-serif; }
  .header .nav a {
    color: #333333;
    font-weight: 400; }
  .header .nav ul {
    list-style-type: none;
    display: -ms-flexbox;
    display: flex; }
  .header .nav li {
    margin: 0 15px; }

.header .hero {
  background-image: url("../images/homebg.png");
  height: 629px;
  margin-top: -4px; }

.header .hero-text {
  color: white;
  width: 100%;
  margin: auto 0;
  float: left; }
  .header .hero-text .brokercheck {
    position: absolute;
    right: 25px;
    bottom: 200px;
    max-width: 150px; }
  .header .hero-text .title {
    font-size: 72px;
    line-height: 69px;
    font-weight: 100;
    padding-bottom: 10px; }
    @media (max-width: 480px) {
      .header .hero-text .title {
        font-size: 36px;
        line-height: 36px; } }
  .header .hero-text .subtitle {
    font-size: 52px;
    line-height: 26px;
    font-weight: 100; }
    @media (max-width: 480px) {
      .header .hero-text .subtitle {
        font-size: 32px;
        line-height: 32px; } }
  .header .hero-text .subtext {
    margin-top: 60px;
    font-size: 18px;
    line-height: 26px; }

.header .gradient-box, .header .subpage-gradient-box {
  width: 100%;
  height: 150px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF' ,GradientType=0)";
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.3) 86.25%, rgba(255, 255, 255, 0) 100%); }

/*****************************************************************************/
/*
/* Menu
/*
/*****************************************************************************/
.dropdown {
  position: relative;
  display: inline;
  padding-bottom: 10px;
  margin-right: 28px !important; }
  .dropdown:hover .dropdown-menu {
    display: block !important;
    opacity: 1; }

.dropdown-trigger {
  position: relative; }
  .dropdown-trigger:focus + .dropdown-menu {
    display: block !important;
    opacity: 1; }
  .dropdown-trigger::after {
    content: "›";
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    right: -20px; }

.dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #312A22;
  display: inline-block !important;
  text-align: left;
  position: absolute;
  display: none !important;
  opacity: 0;
  width: 240px;
  left: 0px;
  top: 29px; }
  .dropdown-menu li {
    text-align: left;
    margin: 0 !important; }
  .dropdown-menu a {
    color: #aba9a9 !important; }

.dropdown-menu-item {
  cursor: pointer;
  padding: .75em;
  text-align: center; }
  .dropdown-menu-item:hover {
    background-color: #d36101; }

/*****************************************************************************/
/*
/* Subpages
/*
/*****************************************************************************/
.subpage-gradient-box {
  max-height: 100px; }

.subpage-title {
  font-size: 30px;
  line-height: 26px;
  font-family: "Lora", "Times-New-Roman", serif;
  font-weight: 100;
  padding-top: 110px;
  color: #1A1A1A; }

.subpage-subtext {
  word-wrap: normal;
  padding-top: 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 100;
  color: #666666; }

.subpage h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 36px;
  color: #1A1A1A; }

.subpage p {
  font-size: 13px;
  line-height: 19px;
  color: #666666;
  font-family: "Helvetica", "Arial", sans-serif; }

/*****************************************************************************/
/*
/* Shoutout section
/*
/*****************************************************************************/
.shoutout {
  height: 200px;
  background-color: #EEE8E0;
  color: #312A22;
  text-align: center; }
  .shoutout h2 {
    font-size: 36px;
    line-height: 26px;
    padding-top: 40px;
    font-weight: 100; }
  .shoutout p {
    padding-top: 30px;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5; }

/*****************************************************************************/
/*
/* Clients section
/*
/*****************************************************************************/
.clients {
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  background-color: #fff; }
  .clients .container {
    display: -ms-flexbox;
    display: flex;
    padding: 41px 0;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%; }
  .clients img {
    max-height: 30px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .clients h2 {
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    font-weight: 900;
    font-size: 26px;
    line-height: 26px;
    color: #312A22;
    margin-right: 0; }

/*****************************************************************************/
/*
/* Footer section
/*
/*****************************************************************************/
.footer {
  height: 450px;
  background-color: #312A22; }

.footerhead {
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .footerhead h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: 100;
    padding-top: 2.8em;
    color: #EEE8E0; }
  .footerhead .footerlogo {
    padding-right: 270px;
    padding-top: 40px; }
  .footerhead .footerhead1 {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px; }
  .footerhead .footerhead2 {
    padding-left: 23px; }

.footer-top {
  font-size: 15px;
  line-height: 26px;
  color: rgba(238, 232, 224, 0.5);
  margin-top: 20px;
  height: 175px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid rgba(238, 232, 224, 0.5); }
  .footer-top a {
    color: rgba(238, 232, 224, 0.5); }
  .footer-top .footerservices {
    border-right: 0.5px solid rgba(238, 232, 224, 0.5);
    max-width: 460px;
    height: 160px;
    display: inline-block;
    float: left; }
    .footer-top .footerservices ul {
      display: inline-block;
      padding: 20px;
      max-height: 120px;
      max-width: 230px; }
    .footer-top .footerservices li {
      list-style-type: square;
      color: #EC6D01; }
      .footer-top .footerservices li p {
        color: #EEE8E0; }
  .footer-top .contact {
    color: rgba(238, 232, 224, 0.5);
    width: 320px;
    display: inline-block;
    height: 120px;
    padding: 20px;
    line-height: 20px;
    border-right: 0.5px solid rgba(238, 232, 224, 0.5); }
  .footer-top .footer_social {
    color: #aba9a9;
    font-size: 23px;
    line-height: 26px;
    display: inline-block;
    padding: 20px 50px;
    vertical-align: top; }
    .footer-top .footer_social .fa {
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-color: #605548;
      box-sizing: border-box;
      padding: 3px 5.5px;
      width: 30px;
      height: 30px; }

.footer-bottom {
  padding-top: 40px;
  text-align: center;
  color: rgba(238, 232, 224, 0.5);
  font-family: "Lora", "Times-New-Roman", serif;
  font-size: 12px;
  line-height: 22px; }

/*****************************************************************************/
/*
/* Cards - Homepage
/*
/*****************************************************************************/
.home .cards {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 40px 0; }
  .home .cards .card, .home .cards .gateway, .home .cards .view-services {
    background-color: #ffffff;
    color: #333333;
    font-size: 17px;
    line-height: 36px; }
  .home .cards .card:hover, .home .cards .gateway:hover, .home .cards .view-services:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.home .topcards .card, .home .topcards .gateway, .home .topcards .view-services {
  width: 270px;
  margin: 0 15px; }
  .home .topcards .card img, .home .topcards .gateway img, .home .topcards .view-services img {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    width: 270px;
    height: 140px; }
  .home .topcards .card h3, .home .topcards .gateway h3, .home .topcards .view-services h3 {
    margin-top: -15px; }

.home .bottomcards .card, .home .bottomcards .gateway, .home .bottomcards .view-services {
  width: 300px;
  height: 150px; }
  .home .bottomcards .card img, .home .bottomcards .gateway img, .home .bottomcards .view-services img {
    width: 300px;
    height: 150px; }

/*****************************************************************************/
/*
/* Technology
/*
/*****************************************************************************/
.gateway {
  text-align: center;
  padding: 5px 10px;
  width: auto;
  max-height: 100px; }

.gateway:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.gateway-image {
  text-align: center; }

.gateway-section {
  text-align: center;
  width: 100%; }

.row h2 {
  display: inline-block; }

.row .title-image {
  max-height: 25px;
  padding-left: 40px; }

.row .wide-title-image {
  padding-bottom: 5px;
  padding-top: 3px; }

/*****************************************************************************/
/*
/* Process
/*
/*****************************************************************************/
.process-image {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px; }
  .process-image img {
    width: 100%; }

/*****************************************************************************/
/*
/* Service
/*
/*****************************************************************************/
.service-text {
  padding-top: 20px;
  height: 146px; }

.service ul {
  list-style-type: none;
  padding: 0 25px 0 55px; }

.service li {
  font-size: 18px;
  line-height: 36px;
  color: #666666;
  font-family: "Helvetica", "Arial", sans-serif;
  padding-left: 40px;
  text-indent: -40px; }

.service li:before {
  font-family: 'FontAwesome';
  content: '\f00c';
  font-size: 20px;
  margin-right: 40px;
  display: inline-block;
  height: inherit; }

.view-services {
  margin: auto;
  margin-bottom: 40px;
  text-align: center; }
  .view-services a {
    text-decoration: none; }
  .view-services h2 {
    padding: .5em 1em; }
  .view-services :hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.viewsection {
  width: 100%;
  text-align: center; }

/*****************************************************************************/
/*
/* Services
/*
/*****************************************************************************/
.services {
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0; }

.ourservicesbumper {
  margin-top: -250px; }

.services-left {
  width: 300px; }

.services-right {
  padding-left: 20px; }
  .services-right h3 {
    padding-bottom: 20px; }
  .services-right p {
    padding-bottom: 10px; }

/*****************************************************************************/
/*
/* Team
/*
/*****************************************************************************/
.team {
  display: -ms-flexbox;
  display: flex; }
  .team h2 {
    font-size: 17px;
    line-height: 24px; }

.team-image {
  width: 100px;
  max-height: 112px;
  overflow: hidden; }
  .team-image img {
    max-width: 100px; }

.full {
  width: 100%;
  padding: 20px 0; }
  .full .team-image {
    overflow: visible; }

.team-text {
  padding-left: 20px; }

.teams {
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0; }
  .teams .left {
    width: 50%; }
  .teams .right {
    width: 50%; }

.ruben {
  padding-bottom: 40px; }
  .ruben .team-image {
    width: auto;
    max-width: 200px;
    max-height: none;
    overflow: visible; }
    .ruben .team-image img {
      max-width: 200px; }

/*****************************************************************************/
/*
/* Contact
/*
/*****************************************************************************/
.contactpage {
  margin-top: -230px; }

.contactpageinner {
  padding: 20px 0; }
  .contactpageinner .contact-left, .contactpageinner .contact-right {
    width: 50%;
    color: #333333;
    font-weight: 100;
    font-family: "Helvetica", "Arial", sans-serif; }
    @media (max-width: 480px) {
      .contactpageinner .contact-left, .contactpageinner .contact-right {
        width: 100%;
        padding-bottom: 40px; } }

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/
@media (max-width: 480px) {
  .header .bar {
    right: auto;
    margin: auto;
    width: 96%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 2%;
    padding-top: 5px; }
  .header .topnav p {
    font-size: 12px; }
  .header .nav {
    font-size: 11px;
    right: auto;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 98%;
    padding: 0 1%; }
    .header .nav ul {
      padding: 0 1%;
      width: 98%;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .header .nav ul li {
        margin: 0 2px;
        text-decoration: underline; }
      .header .nav ul .dropdown {
        margin-right: 0 !important; }
        .header .nav ul .dropdown .dropdown-trigger::after {
          display: none; }
  .Chairvolotti_Financial_Retirement_Homepage {
    height: 70vh;
    background-position: top left; }
    .Chairvolotti_Financial_Retirement_Homepage .gradient-box, .Chairvolotti_Financial_Retirement_Homepage .subpage-gradient-box {
      height: 100px; }
    .Chairvolotti_Financial_Retirement_Homepage .hero-text .subtext {
      margin-top: 30px; }
    .Chairvolotti_Financial_Retirement_Homepage .hero-text .brokercheck {
      position: relative;
      text-align: center;
      right: auto;
      max-width: 120px;
      bottom: -15vh;
      top: auto; }
  .home .cards {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0; }
    .home .cards .card, .home .cards .gateway, .home .cards .view-services {
      margin: 20px 0; }
  .shoutout {
    height: auto;
    padding: 0 5px; }
    .shoutout h2 {
      padding-top: 20px;
      line-height: 32px; }
    .shoutout p {
      font-size: 14px;
      line-height: 24px;
      padding: 20px 0; }
  .clients {
    height: auto; }
    .clients .container {
      padding: 20px 5px;
      -ms-flex-direction: column;
          flex-direction: column;
      display: block;
      text-align: center; }
      .clients .container img {
        padding: 15px 0;
        width: auto; }
      .clients .container h2 {
        padding: 15px 0;
        font-size: 18px;
        line-height: 18px; }
  .footer {
    height: auto; }
    .footer .footerhead {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .footer .footerhead .footerlogo {
        padding-right: 0px;
        display: block;
        padding-right: 100%;
        overflow: hidden; }
      .footer .footerhead .footerhead1 {
        max-width: 45%;
        padding: 20px 0 0 0; }
      .footer .footerhead .footerhead2 {
        max-width: 42%;
        padding: 20px 0 0 0; }
    .footer .footer-top {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: auto;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      padding-bottom: 120px; }
      .footer .footer-top .footerservices {
        height: auto;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
        margin-top: 160px;
        margin-bottom: -100px;
        border-right: none;
        font-size: 12px; }
        .footer .footer-top .footerservices ul {
          padding: 12px; }
      .footer .footer-top .contact {
        width: auto;
        padding: 0;
        max-width: 50%;
        margin-top: -160px;
        border-right: none; }
      .footer .footer-top .footer_social {
        padding: 0;
        margin-top: -160px; }
    .footer .footer-bottom {
      padding-bottom: 40px; }
  .teams {
    padding: 0;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .teams .team {
      padding: 10px 0; }
      .teams .team .team-image {
        width: 100px !important;
        overflow: visible;
        max-height: none; }
        .teams .team .team-image img {
          width: 100px; }
    .teams .ruben .team-image {
      width: 150px !important; }
      .teams .ruben .team-image img {
        width: auto;
        max-width: 150px; }
    .teams .left {
      width: 100%; }
    .teams .right {
      width: 100%; }
  .services {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .services .services-left {
      text-align: center;
      width: 100%;
      padding-bottom: 20px; }
  .split {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0; }
    .split .half {
      width: 100%; }
      .split .half .row {
        padding: 10px 0; }
      .split .half .process-image {
        padding: 20px 0 0 0; }
  .subpage h2 {
    line-height: 24px; }
  .technology .split .row h2 {
    padding-right: 20px; }
  .technology .split .row img {
    padding-left: 0;
    max-width: 180px;
    max-height: 20px; }
  .technology .split .row .wide-title-image {
    max-width: 300px;
    max-height: 50px; }
  .technology .split .row .gateway {
    max-width: 150px;
    max-height: 100px;
    padding-left: 10px; }
  .service .service-text {
    padding-top: 0;
    height: auto; }
  .service li {
    font-size: 14px;
    line-height: 20px;
    padding-left: 35px;
    text-indent: -25px;
    padding-top: 2px;
    padding-bottom: 2px; }
  .service li::before {
    margin-right: 15px; }
  .service ul {
    padding: 20px 0 20px 35px; } }
