/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: black;
    font-family: "Lora", Helvetica, "open-serif", sans-serif;
    font-size: small;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;

}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    text-align: left;
    width: 42em;
    margin: 3em auto 2em;
    line-height: 1.5em;
}

.header a {
    text-decoration: none;
}

.title {
    display: inline-block;
}

.meta {
    color: #aaa;
}

.footer {
    overflow: hidden;
    color: #fff;
    font-family: Open-Sans, sans-serif;
    font-size : 15px;
    line-height : 26px;
    font-weight: 100;
}
