<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Chairvolotti Financial Retirement Planning</title>
      <meta name="viewport" content="width=device-width">

      <!-- Custom JS -->
      <script src="https://use.fontawesome.com/d314d44b9d.js"></script>
      <script src="nunjucks.js"></script>

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  </head>
  <body>

      <div class="site">
        <div class="header">

          <div class="topnav">

              <div class="logo">
                  <a href="http://www.cfretirement.com/"><img src="/images/logo.png" /></a>
                  <p><i>Navigating Your Financial Future</i></p>
              </div>

              <div class="bar">
                  <div class="social">
                      <i class="fa fa-facebook-square" aria-hidden="true"></i>
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                  </div>

                  <div class="contact">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <p>contact@cfretirement.com</p>
                  </div>

                  <div class="contact">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <p>321 280 8400</p>
                  </div>
              </div>

          </div>

          <div class="nav">
              <ul>
                  <li><a href=" "> The Team </a></li>
                  <li><a href=" "> Services </a></li>
                  <li><a href=" "> Account Connections </a></li>
                  <li><a href=" "> News </a></li>
                  <li><a href=" "> Contact Us </a></li>
              </ul>
          </div>

          <div class= {{ page.title }}>

              <div class="gradient-box">

              </div>
              <div class="hero-text">
                  <h1 class="title">Retirement Planning</h1>
                  <h1 class="subtitle">& Wealth Management</h1>
                  <h3 class="subtext">Better informed. Better outcomes.</h2>
              </div>

          </div>

      </div>

        {{ content }}


        <div class="shoutout">
          <div class="container">

              <h2 class="peace">Financial Peace of Mind</h2>
              <p>
                  Our mission is to help clients and their families achieve and
                  maintain financial peace of mind -- preserving the wealth
                  clients have created and building a legacy for future
                  generations of family and business leaders.
              </p>

          </div>
        </div>

        <div class="clients">
          <div class="container">

            <img src="/images/fl.png" />
            <img src="/images/lpl.png" />
            <h2 class="call_us">Call Us Today (321) 280-8400</h2>

          </div>
        </div>

        <div class="footer">
          <div class="container">

            <div class="footerhead">
                <a class="footerlogo" href="www.cfretirement.com"><img src="/images/footerlogo.png" /></a>
                <h2 class="footerhead1">Contact Us</h2>
                <h2 class="footerhead2">Follow Us</h2>
            </div>

            <div class="footer-top">
                <div class="services">
                    <ul>
                        <li><p>Financial Planning</p></li>
                        <li><p>Investment Management</p></li>
                        <li><p>Taxes Planning</p></li>
                    </ul>
                    <ul>
                        <li><p>Insurance Consulting</p></li>
                        <li><p>Retirement Strategies</p></li>
                        <li><p>Business Loan</p></li>
                    </ul>
                </div>
                <div class="contact">
                    <p>631 South Orlando Ave, Suite 103<br />Winter Park FL, 32789</p>
                    <br />
                    <p>Phone: (321) 280-8400 </p>
                    <br />
                    <p>Ed@cfretirement.com</p>
                </div>
                <div class="footer_social">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Securities and Advisory services offered through LPL
                   Financial. A registered investment advisor. Member FINRA &
                   SIPC. The LPL Financial representative associated with this
                   website may discuss and/or transact securities business
                   only with residents of the following states: FL, DC, NJ,
                   IL, MD, TN, VA, LA.</p>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
