<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Chairvolotti Financial Retirement Planning</title>
      <meta name="viewport" content="width=device-width">

      <!-- Custom JS -->
      <script src="https://use.fontawesome.com/d314d44b9d.js"></script>

      <!-- Custom CSS -->
      <link rel="stylesheet" href="../css/main.css">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>
  <body>

      <div class="site">
        <div class="header">

          <div class="topnav">

              <div class="logo">
                  <a href="../index.html"><img src="../images/logo.png" /></a>
              </div>

              <div class="bar">
                <div class="social">
                    <a href="https://www.facebook.com/Chairvolotti-Financial-1759521764337760/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/chairvolotti-financial"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </div>

                  <div class="contact">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                      <p>contact@cfretirement.com</p>
                  </div>

                  <div class="contact">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <p>321 280 8400</p>
                  </div>
              </div>

          </div>

          <div class="nav">
              <ul>
                  <li><a href="../team.html"> The Team </a></li>
                  <li><a href="../services.html"> Services </a></li>

                  <li class="dropdown">
                    <a class = "dropdown-trigger" href="#">Account Connections</a>
                    <ul class="dropdown-menu">

                      <li class="dropdown-menu-item">
                        <a href="https://myaccountviewonline.com/AccountView/">
                          LPL Financial Account View
                        </a>
                      </li>

                      <li class="dropdown-menu-item">
                        <a href="https://cfretirement.sharefile.com/">
                          Client Gateway
                        </a>
                      </li>

                      <li class="dropdown-menu-item">
                        <a href="https://us.financelogix.com/">
                          Finance Logix
                        </a>
                      </li>

                    </ul>
                  </li>

                  <li><a href="../news.html"> News </a></li>
                  <li><a href="../contact.html"> Contact Us </a></li>
              </ul>
          </div>

          <div class="subpage-header">
              <div class="hero-text">
                  <div class="container">
                    <h1 class="subpage-title">{{ page.titletext }}</h1>
                    <p class="subpage-subtext">{{ page.subtext }}</p>
                  </div>
              </div>

          </div>

      </div>

        {{ content }}


        <div class="shoutout">
          <div class="container">

            <h2 class="peace">Mission Statement</h2>
            <p>Our passion is to help each participant retire with dignity. We also strive to help each Plan Sponsor offer the most thoughtful and sustainable plan design for their unique socio-economic and demographic profile.</p>

          </div>
        </div>

        <div class="clients">
          <div class="container">

              <img src="../images/fl.png" />
              <img src="../images/lpl.png" />
              <h2 class="call_us">Call Us Today (321) 280-8400</h2>

          </div>
        </div>

        <div class="footer">
          <div class="container">

            <div class="footerhead">
                <a class="footerlogo" href="../index.html"><img src="../images/footerlogo.png" /></a>
                <h2 class="footerhead1">Contact Us</h2>
                <h2 class="footerhead2">Follow Us</h2>
            </div>

            <div class="footer-top">
                <div class="footerservices">
                    <ul>
                        <li><p>Financial Planning</p></li>
                        <li><p>Investment Management</p></li>
                        <li><p>Taxes Planning</p></li>
                    </ul>
                    <ul>
                        <li><p>Insurance Consulting</p></li>
                        <li><p>Retirement Strategies</p></li>
                        <li><p>Business Loan</p></li>
                    </ul>
                </div>
                <div class="contact">
                    <p>631 South Orlando Ave, Suite 103<br />Winter Park FL, 32789</p>
                    <br />
                    <a href="tel:321-280-8400"><p>Phone: (321) 280-8400</p></a>
                    <br />
                    <a href="mailto:ed@cfretirement.com"><p>Ed@cfretirement.com</p></a>
                </div>
                <div class="footer_social">
                    <a href="https://www.facebook.com/Chairvolotti-Financial-1759521764337760/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/chairvolotti-financial"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="footer-bottom">
                <p>Securities and Advisory services offered through LPL
                   Financial. A registered investment advisor. Member FINRA &
                   SIPC. The LPL Financial representative associated with this
                   website may discuss and/or transact securities business
                   only with residents of the following states: FL, DC, NJ,
                   IL, MD, TN, VA, LA.</p>
            </div>
          </div>
        </div>
      </div>

    </body>
</html>
